.product-card {
    padding: 1rem;
    margin: 12px;
    width: 20%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 2px solid gray;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.product-info {
    text-align: center;
    margin-top: 10px;
}
.product-name {
    font-size: 1.1rem;
    color: darkolivegreen;
    font-weight: 600;
    margin: 0;
}
.product-type {
    color: black;
    font-size: 1rem;
    margin: 0.5rem 0;
}
.product-price {
    font-size: 1.2rem;
    color: saddlebrown;
    margin: 0.5rem 0;
}
.sale-badge {
    background: red;
    color: white;
    padding: 0.5rem 0.8rem;
    font-size: 0.85rem;
    position: absolute;
    top: 0px;
    left: 0px;
}
